<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.suchac.hds"
    android:versionCode="0013"
    android:versionName="1.4" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sk.suchac.hds.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.suchac.hds.ScriptureActivity"
            android:label="@string/title_activity_scripture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.suchac.hbe.MainActivity" />
        </activity>
        <activity
            android:name="sk.suchac.hds.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="sk.suchac.hds.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="sk.suchac.hds.SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
        </activity>
        <activity
            android:name="sk.suchac.hds.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="sk.suchac.hds.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="sk.suchac.hds.SlideActivity"
            android:label="@string/title_activity_slide" >
        </activity>
    </application>

</manifest>